<section class="cta bg-white footer-cta py-4 px-1-5">
  <div class="max__body-width">
    <div class="cta__block bg-primaryDark p-2-5">
      <div class="cta__content">
        <h3 class="heading c-black mt-0">Quitter Google Analytics? Facile.</h3>
      </div>
      <div class="cta__link mt-3">
        <a class="button bg-black td-none" href="https://tableau.abla.io" title="Quitter Google Analytics? Facile."> Débuter avec Abla </a>
      </div>
    </div>
  </div>
</section>
<footer class="site-footer px-1 py-2 bg-tertiary c-white ts-0-9">
      <div class="site-footer__container max__body-width">
        <section class="site-footer__message mb-1-5">
          <div class="message__icon">
            <img src="https://abla.io/assets/images/logo.svg" width="80" height="80" alt="logo" />
          </div>
          <p class="ts-h4 m-0"> L'alternative RGPD à Google Analytics </p>
        </section>

        <section class="site-footer__meta mt-2">
          <div class="meta__information">
            <p class="tf-bold ts-1 mb-0-8">Nous contacter</p>
            <a href="tel:0033652757790" title="Téléphone" aria-label="Téléphone" class="c-teal td-none d-block mb-0-5"> +33 6 52 75 77 90 </a>
            <a href="https://outlook.office365.com/owa/calendar/abla@abla.io/bookings/" title="Prendre RDV" class="c-teal td-none d-block  mb-0-5" target=&quot;_blank&quot;> Prendre RDV </a>
            <a href="mailto:bonjour@abla.io?subject=En%20savoir%20plus%20sur%20Abla%20Analytics" title="Nous contacter par email" class="c-teal td-none d-block  mb-0-5"> bonjour@abla.io </a>
          </div>
          <div class="meta__social my-2">
            <div class="meta__social-accounts">
              <a class="c-white td-none ts-2 d-inline-block" href="https://linkedin.com/company/ablaanalytics/" title="Linkedin" target="_blank" aria-label="Notre page Linkedin">
                <i class="site-icon icon-linkedin" aria-hidden="true"></i>
              </a>
              <a class="c-white td-none ts-2 d-inline-block" href="https://twitter.com/AblaAnalytics" title="Twitter" target="_blank" aria-label="Notre fil Twitter">
                <i class="site-icon icon-twitter" aria-hidden="true"></i>
              </a>
              <a class="c-white td-none ts-2 d-inline-block" href="https://www.facebook.com/ablaanalytics" title="Facebook" target="_blank" aria-label="Notre page Facebook">
                <i class="site-icon icon-facebook" aria-hidden="true"></i>
              </a>

            </div>
          </div>
        </section>
        <section class="site-footer__legal">
          <p class="c-teal mb-0-4"> &copy; Astra Porta 2022 </p>
          <a href="https://abla.io/juridique.html" title="Juridique" aria-label="Juridique" class="c-teal td-none d-block mb-0-4"> Juridique </a>
        </section>
      </div>
    </footer>
    <script src="/assets/scripts/scripts.js" async="async" defer="defer"></script>
  </body>
</html>
