<!doctype html>
<html lang="fr-fr" dir="ltr" class="no-js">
  <head>
    {% seo %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="keywords" content="{{ site.keywords }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://abla.io/assets/images/180x180.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://abla.io/assets/images/32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://abla.io/assets/images/16x16.png" />
    <link rel="mask-icon" href="https://abla.io/assets/images/300x300.svg" />
    <link rel="shortcut icon" href="https://abla.io/assets/images/logo.svg" />
    <meta name="msapplication-TileColor" content="#c9e4cb" />
    <meta name="theme-color" content="#c9e4cb" />
    <link rel="stylesheet" href="https://abla.io/assets/styles/style.css" />
    <link rel="home" href="https://abla.io"/>
    <script>const htmlEl=document.documentElement; htmlEl.classList.remove('no-js'); htmlEl.classList.add('js'); </script>
    <script async defer data-website-id="7643e7bc-0b1e-4d7e-a7d8-003ce55aa292" src="https://s.abla.io/abla.js"></script>
    <link rel="manifest" href="site.webmanifest">
    <script>const htmlEl=document.documentElement; htmlEl.classList.remove('no-js'); htmlEl.classList.add('js'); </script> <script async defer data-website-id="500347eb-53e0-4928-8591-812d258324f1" src="https://stats.abla.io/abla.js"></script> <script>window.$crisp=[];window.CRISP_WEBSITE_ID="cfffa3cc-a9a9-459f-836f-5b1fcbb54851";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
  </head>
  <body itemtype="https://schema.org/WebPage" data-template="{{ page.url }}" class="bg-primary env--production slug--blogs entry-type--resources-sub template--templates/resources-sub">
    <!--[if IE 9]>
    <p>You are using an
        <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a>
    </p>
    <![endif]-->
    <a class="a11y-navigation" href="#content" title="Jump to Content"> Jump to content </a>
    <header class="site-header mb-2">
      <div class="site-header__inner max__body-width">
        <div class="site-header__logo" itemprop="headline">
          <a href="/" title="{{ site.title }}">
            <img style="max-height:80px" src="{{ site.logo_url }}" alt="{{ site.title }}" />
          </a>
        </div>
        <div class="site-header__menu" data-mobile-menu>
          <div class="site-header__menu-button">
            <div class="mobile-open" data-mobile-trigger>
              <span class="bg-black"></span>
              <span class="bg-black"></span>
              <span class="bg-black"></span>
            </div>
            <div class="mobile-close d-none" data-mobile-close>
              <div class="mobile-close__wrapper">
                <span class="bg-black"></span>
                <span class="bg-black"></span>
              </div>
            </div>
          </div>
          <nav id="main-menu" class="site-header__menu-navigation bg-white menu-offcanvas" data-main-menu data-direction="right" data-menu-effect="fade" data-width="fullscreen" aria-hidden="true">
            <div class="navigation-container">
              <div id="menu-0" class="menu-0 menu-panel menu-hidden">
                <ul class="menu">
                  <li class="site-header__menu-item " role="menu">
                    <a class="c-black d-block" title="Accueil" href="https://abla.io" role="menuitem"> Accueil </a>
                  </li>
                  <li class="site-header__menu-item " role="menu">
                    <a class="c-black d-block" title="Fonctionnalités" href="https://abla.io/alternative-google-analytics-pas-cher.html" role="menuitem"> Fonctionnalités </a>
                  </li>
                  <li class="site-header__menu-item " role="menu">
                    <a class="c-black d-block" title="Tarifs" href="https://abla.io/fonctionnalites-abla-analytics.html" role="menuitem"> Tarifs </a>
                  </li>
                  <li class="site-header__menu-item " role="menu">
                    <a class="c-black d-block" title="Blog" href="https://abla.io/blog/" role="menuitem"> Blog </a>
                  </li>

                </ul>
              </div>

              <div class="navigation__button navigation__button--1 border-black-1">
                <a class="c-black ts-h5" href="https://tableau.abla.io/" title="Se connecter"> Se connecter </a>
              </div>
              <div class="navigation__button navigation__button--2 bg-black">
                <a class="c-white ts-h5" href="https://app.abla.io/" title="Inscription"> Inscription gratuite </a>
              </div>
            </div>
          </nav>
        </div>
        <div class="site-header__menu" data-desktop-menu aria-hidden="true">
          <div class="main-menu__overlay"></div>
          <nav class="main-menu">
            <ul class="menu">
              <li class="menu__item  d-inline-block" role="menu">
                <div class="menu__item-link">
                  <a class="menu-link c-black" title="Accueil" href="https://abla.io" data-target="menu-14" data-parent="menu-0"> Accueil </a>
                </div>
              </li>
              <li class="menu__item  d-inline-block" role="menu">
                <div class="menu__item-link">
                  <a class="menu-link c-black" title="Fonctionnalités" href="https://abla.io/fonctionnalites-abla-analytics.html" data-target="menu-26" data-parent="menu-0"> Fonctionnalités </a>
                </div>
              </li>
              <li class="menu__item  d-inline-block" role="menu">
                <div class="menu__item-link">
                  <a class="menu-link c-black" title="Tarifs" href="https://abla.io/alternative-google-analytics-pas-cher.html" data-target="menu-26" data-parent="menu-0"> Tarifs </a>
                </div>
              </li>
              <li class="menu__item  d-inline-block" role="menu">
                <div class="menu__item-link">
                  <a class="menu-link c-black" title="Blog" href="https://abla.io/blog/" data-target="menu-26" data-parent="menu-0"> Blog </a>
                </div>
              </li>



            </ul>
          </nav>
          <a class="site-header__button button button--ghost td-none tf-bold" href="https://tableau.abla.io/" title="Se connecter"> Se connecter </a>
          <a class="site-header__button button bg-black td-none tf-bold" href="https://app.abla.io/" title="Inscription"> Inscription gratuite </a>
        </div>
      </div>
    </header>
