<div class="filters my-2">
  <a class="filters__filter {% if page.pagination.indexpage == 'blogs' %} filters__filter--active {% endif %}" href="/blogs" title="View Blogs">Blogs</a>
  <a class="filters__filter {% if page.pagination.indexpage == 'case_studies' %} filters__filter--active {% endif %}" href="/case_studies" title="View more entries for Case Studies">Case Studies</a>
  <a class="filters__filter {% if page.pagination.indexpage == 'guides' %} filters__filter--active {% endif %}" href="/guides">Guides</a> <a class="filters__filter {% if page.pagination.indexpage == 'podcasts' %} filters__filter--active {% endif %}" href="/podcasts">Podcasts</a>
</div>
